.Checkout{
    width:95%;
    margin: auto;
}
.Amount{
  width:20%;
  height:20%;
  margin-top: 50px;
  border:1px solid grey;
  border-radius: 15px;
  padding:2%;
}
.container2{
  display: flex;
}

.line {
  position: relative;
  width: 60%;
  top: 10px;
  border: none;
  height: 1px;
  background: rgb(170, 169, 169);
  margin-bottom: 20px;
  margin-top: 10px;
}