.EditContainer1 {
  display: none;
  margin: auto;
  padding: 10px;
  border: 1px solid grey;
  text-align: center;
   background: rgba(90, 90, 90, 0.5);
   background: transparent;
}

.EditContainer2 {

  margin: auto;
  position: fixed;
  z-index: 2;
top:50px;

  opacity: 1;
  
    background: rgba(90, 90, 90, 0.5);
background-color:#bde7cc;
  display: grid;
  margin: auto;
  padding: 5px 10px;
  border: 1px solid rgb(68, 66, 66);
  text-align: center;
  border-radius: 15px ;
}
.Cancel{
  display: flex;
  justify-content: flex-end;
}
.Cancel>button{
  font-size: 18px;
}
.Container{
  padding:40px 20px;
}
.imageTable {
  width: 40%;
  margin: auto;
 
  border: 1px solid grey;
}
.TextTable {
  width: 5%;
  margin: auto;
}
.Loading{
  position: fixed;
  background: transparent;
  color: white;
  top:25%;
  left:15%;
}

  @media screen and (max-width:600px) {

    .EditContainer2{
      top:10px;
    }
    
  }
  
