/* For Large screen */
@media only screen and (min-width: 1008px) {
  .login_parent {
    width: 100%;
    background-color: #f2f2f2f2;
    margin-top: 170px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .existing_and_new_users {
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .new_customers {
    width: 48%;
    height: 170px;
    background-color: white;
  }

  .new_customes_tag {
    font-size: 24px;
    margin-left: 30px;
    font-weight: 500;
    margin-top: 30px;
    color: #333333;
  }

  .continue_to_register {
    border: none;
    background-color: #222222;
    color: #ffffff;
    font-weight: 500;
    margin-left: 30px;
    width: 87%;
    height: 48px;
    font-size: 14px;
    cursor: pointer;
  }

  .existing_customer {
    width: 48%;
    background-color: white;
  }

  .existing_user_tag {
    font-size: 24px;
    margin-left: 30px;
    font-weight: 500;
    margin-top: 30px;
    color: #333333;
  }

  .forgot_password {
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
  }

  .login_form {
    width: 90%;
    margin: auto;
  }

  .login_button {
    border: none;
    background-color: #222222;
    color: #ffffff;
    font-weight: 500;
    width: 101%;
    height: 48px;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 30px;
  }
  .input_login {
    width: 100%;
    height: 45px;
  }
}

/* For medium screen */
@media only screen and ((min-width: 641px) and (max-width: 1007px)) {
  .login_parent {
    width: 100%;
    background-color: #f2f2f2f2;
    margin-top: 170px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .existing_and_new_users {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  .new_customers {
    width: 90%;
    height: 170px;
    margin: auto;
    background-color: white;
  }

  .new_customes_tag {
    font-size: 24px;
    margin-left: 30px;
    font-weight: 500;
    margin-top: 30px;
    color: #333333;
  }

  .continue_to_register {
    border: none;
    background-color: #222222;
    color: #ffffff;
    font-weight: 500;
    margin-left: 30px;
    width: 87%;
    height: 48px;
    font-size: 14px;
    cursor: pointer;
  }

  .existing_customer {
    width: 90%;
    margin: auto;
    background-color: white;
  }

  .existing_user_tag {
    font-size: 24px;
    margin-left: 30px;
    font-weight: 500;
    margin-top: 30px;
    color: #333333;
  }

  .forgot_password {
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
  }

  .login_form {
    width: 90%;
    margin: auto;
  }

  .login_button {
    border: none;
    background-color: #222222;
    color: #ffffff;
    font-weight: 500;
    width: 100%;
    height: 48px;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 30px;
  }
}

/* For small screen */
@media only screen and (max-width: 640px) {
  .login_parent {
    width: 100%;
    background-color: #f2f2f2f2;
    margin-top: 170px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .existing_and_new_users {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  .new_customers {
    width: 95%;
    height: 170px;
    margin: auto;
    background-color: white;
  }

  .new_customes_tag {
    font-size: 24px;
    margin-left: 30px;
    font-weight: 500;
    margin-top: 30px;
    color: #333333;
  }

  .continue_to_register {
    border: none;
    background-color: #222222;
    color: #ffffff;
    font-weight: 500;
    margin-left: 30px;
    width: 87%;
    height: 48px;
    font-size: 14px;
    cursor: pointer;
  }

  .existing_customer {
    width: 95%;
    margin: auto;
    background-color: white;
  }

  .existing_user_tag {
    font-size: 24px;
    margin-left: 30px;
    font-weight: 500;
    margin-top: 30px;
    color: #333333;
  }

  .forgot_password {
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
  }

  .login_form {
    width: 90%;
    margin: auto;
  }

  .login_button {
    border: none;
    background-color: #222222;
    color: #ffffff;
    font-weight: 500;
    width: 100%;
    height: 48px;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 30px;
  }
}
