/* For Large Screen */
@media only screen and (min-width: 1008px) {
  .validation_form {
    width: 100%;
  }
  .title_validation {
    margin-bottom: 20px;
  }
  .title_validation > label:first-child {
    font-size: 14px;
    font-weight: 700;
    color: #333333;
  }

  .title_validation > label > .validation_input {
    margin-top: 10px;
  }

  .validation_input {
    width: 100%;
    height: 46px;
    padding: 1px 3px;
  }

  .error {
    font-size: 12px;
    color: red;
  }

  .signup_continue {
    width: 100%;
    height: 46px;
    background-color: #222222;
    border: none;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
  }
}

/* For medium screen */
@media only screen and ((min-width: 641px) and (max-width: 1007px)) {
  .validation_form {
    width: 100%;
  }
  .title_validation {
    margin-bottom: 20px;
  }
  .title_validation > label:first-child {
    font-size: 14px;
    font-weight: 700;
    color: #333333;
  }

  .title_validation > label > input {
    margin-top: 10px;
  }

  .validation_input {
    width: 98%;
    height: 46px;
    padding: 1px 3px;
  }

  .error {
    font-size: 12px;
    color: red;
  }

  .signup_continue {
    width: 100%;
    height: 46px;
    background-color: #222222;
    border: none;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
  }
}

/* For Small screen */
@media only screen and (max-width: 640px) {
  .validation_form {
    width: 100%;
  }
  .title_validation {
    margin-bottom: 20px;
  }
  .title_validation > label:first-child {
    font-size: 14px;
    font-weight: 700;
    color: #333333;
  }

  .title_validation > label > input {
    margin-top: 10px;
  }

  .validation_input {
    width: 98%;
    height: 30px;
    padding: 1px 3px;
  }

  .error {
    font-size: 12px;
    color: red;
  }

  .signup_continue {
    width: 100%;
    height: 46px;
    background-color: #222222;
    border: none;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
  }
}
