.nav{
    
   
      width: 100%;
      z-index: 999;
      display: flex;
     
      margin-bottom: 1rem;
     
     
      

      /* line-height: 65px; */
    }
    .Heading{
      font-size: 20px;
      font-weight: bold;
    
    }
     .wrapper {
      position: relative;
      width: 95%;
      /* padding: 0 30px; */
      display: flex;
      justify-content: space-between;
      
      align-items: center;
      height: 100%;
      margin:  auto;
     
    
      
     
      /* align-items: center; */
    }
    .wrapper .navLink {
      display: inline-flex;
     

      gap: 10px;
      
  
    }
    .navLink>li:nth-child(1) a{
    margin-bottom:0 ;
     
    
     
    }
    .navLink li {
      list-style: none;
      
     
    }
    .navLink li a {
      color: rgb(252, 252, 252);
      text-decoration: none;
      font-size: 1rem;
      padding: 15px 15px;
      transition: all 0.3s ease;
    }
    .navLink>li>a:hover {
      background: #3a3b3c;
    }
    .navLink .dropMenu {
      background: #242526;
      width: 180px;
      top: auto;
      line-height: 45px;
      position: absolute;
      opacity: 0;
      visibility: hidden;
      
    }
    .navLink li:hover .megaBox,
    .navLink li:hover .dropMenu {
      top: 65px;
      opacity: 1;
      visibility: visible;
      z-index: 99999;
      background-color: white;
      padding: 20px;
      transition: all 0.3s ease-in-out;
    }
    .dropMenu li a {
      width: 100%;
      display: block;
      padding: 0 0 0 15px;
    }
    
    .megaBox { 
      height: 60vh;
      /* border: 1px solid green; */
      position: absolute;
      top: 75px;
      width: 100%;
      left: 0;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      padding: 10px;
      margin-top: -15px;
    }
    
    .megaBox .content {
      background: #fdfdfd;
      display: flex;
      margin-top: -16px;
      width: 100%;
      
    gap: 4rem;
    }
    .content .row{
        width: calc(15% - 30px);
        line-height: 41px;
       
    }
  
    .content .row img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .content .row header{
        color :rgb(4, 4, 4);
        font-size: 16.5px;
        font-weight: 700;
    }
    
    .megaLinks{
      margin-top: -25px;
    }
    .row .megaLinks li{
      /* border: 1px solid blue; */
      
      height: 1.5em;
      margin-left: -10px;
      /* line-height: 2px; */
       
    }
    .row .megaLinks li a{
    /* border: 2px solid red; */
        color: #666;
        display: block;
        font-size: 13px;
        
    }
    .row .megaLinks li a:hover{
      cursor: pointer;
      color: #0770cf;
      /* transform: scale(1.1); */
    }
    .row .midNavImg{
      /* border: 1px solid black; */
     height: 300px;
     width: 450px;
    }
    
    .row .midNavImg div img{
      width: 100%;
      margin-top: 10px;
      
    }
    .row .midNavImg div img:hover{
      border: 1px solid #0770cf;
    }
    .row .lPImage{
      display: flex;
      border-left: 1px solid rgb(73, 73, 73);
      padding-left: 10px;
       gap: 20px;
       width: 90%;
       position: relative;
    }
   
    .lPImage >img:hover{
      border: 1px solid #0770cf;
    }
    .row .lPImage>img{
      width: 90%;
      
      padding: 2px;
    }
    .row .shopList{
      border-left: 1px solid rgb(102, 102, 102);
      padding-left: 10px;
      
    }
    .row .shopList>div{
      margin-bottom: 10px;
      line-height: 40px;
      display: flex;
      gap: 1rem;
     
    }
    .row .shopList>div>img{
      width: 23%;
      border-radius: 50% ;
    }
    
    .row .shopList>div>img:hover{
      border: 1px solid #0770cf;
    }
    .row .shopList>div>p{
      font-size: 16px;
      width: 50%;
      border-bottom: 1px solid rgb(102, 102, 102);
    }
    .row .shopList>div>p:hover{
      cursor: pointer;
      color:  #0770cf;
      transform: scale(1.1);
      transition: 00.3s;
    }
    /* .downtringle{
      border-top: 20px solid transparent;
      border-bottom: 20px solid #525050;
      border-left: 5px solid transparent;
      border-right:5px solid #525050 ;
      position: absolute;
      right: 0;
      top: -4px;
    }
    .navLink>li:nth-child(1) {
    position: relative;
    } */
    .text{
      font-weight: 700;
      font-size: 14px;

    }
    .Link{
      display: flex;
      align-items: center;
      gap: 0.5rem;
      
     

    }
    .Link:hover{
      color: black;
      
    }
    .navtwo{
     
    
   
        width: 100%;
        z-index: 999;
        display: flex;
       
        margin-bottom: 1rem;
        display: none
       
       
       
       
        
  
        /* line-height: 65px; */
      
    }
  

    @media screen and (max-width:1090px) and (min-width:200px) {
      .nav{
        display: none;
       }
       .navtwo{
        display: block;
       }
    }