* {
    margin: 0;
    padding: 0;
}

#sidebar {
    z-index: 1;
    width: 90%;
    /* border: 1px solid red; */
}

#sidebarLeft {
    background-color: pink;
}

.whole_div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.whole_div:nth-child(1) {
    justify-content: start;
    gap: 15px;
}

.whole_inside_div {
    display: flex;
    gap: 10px;
    margin-right: 50px;

}

.whole_inside_div>div>img {
    margin-left: 20px
}